{% extends "base.html"%}

{% block content %}
<div class="form">
    <h1><i class="fa-solid fa-octagon-plus"></i>Post</h1>
    <div>
        <form action="{% url 'post' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
             {{form.as_p}} 
            <button type="button" class="btn btn-success">Submit</button>
                <!-- <a href="{% url 'home' %}"type="button" value="submit" class="btn btn-success">Submit</a> -->
        
        </form>
    </div>
   
</div>
{% endblock %}